/* @media all and (min-width: 1025px) and (max-width: 1440px) {
    main>section:first-child{
        top: 140px;
        height: 92vh;
    }
}
@media all and (min-width: 769px) and (max-width: 1024px){
    main>section:first-child{
        top: 140px;
        height: 92vh;
        background-color: black;
    }
} */
@media all and (min-width: 321px) and (max-width: 375px){
    #main-container{
        margin-left: 10ox;
        margin-right: 10px;
    }
    header>nav {
        display: none;
    }
    #logo {
        text-align: center;
    }
    main>section:first-child{
        top: 140px;
        height: 100vh;
    }
    main>section:first-child>img{
        display: none;
    }

    /* about me */

    main>section:nth-child(2){
        height: 252vh;
        position: relative;
        text-align: center;
    }

    main>section:nth-child(2)>div{
        width: 460px;
    }


    /* skills */
}