/* @media all and (min-width: 1025px) and (max-width: 1440px) {
    main>section:first-child{
        top: 140px;
        height: 92vh;
    }
}
@media all and (min-width: 769px) and (max-width: 1024px){
    main>section:first-child{
        top: 140px;
        height: 92vh;
        background-color: black;
    }
} */
@media  (max-width: 376px){
    #main-container{
        width: 100%;
        overflow-x: hidden;
        margin-left: 0 !important;  
    }
    body{
        overflow-x: hidden;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1{
        font-size: 25px;
    }
    header>nav {
        display: none;
    }
    #logo {
        text-align: center;

    }
    main>section:first-child{
        top: 140px;
        height: 138vh;

        /*width: 99%;*/
    }
    main>section:first-child>img{
        display: none;
    }
    /* about me */

    main>section:nth-child(2){
        height: 296vh;
        position: relative;
        text-align: center;
    }

    main>section:nth-child(2)>div{
        width: 460px;
    }


    /* skills */
    main>section:nth-child(3){
        height: 266vh;
    }
    .programming-container,
    .tools {
        display: flex;
        overflow-x: auto; /* Allow horizontal scrolling */
        scroll-snap-type: x mandatory;
    }

    .programming-container > img,
    .tools > img {
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    .programming-container > img {
        margin-right: 10px; /* Add some spacing between images */
    }
    
    .design, .mobile, .web, .software{
        position: absolute;
        left: 20px;

    }
    .design{
        top: 170px;
    }
    .mobile{
        position: absolute;
        top: 510px;

    }
    .web{
        position: absolute;
        top: 850px;

    }
    .software{
        top: 1200px;

    }
    /* main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3){
        position: absolute;
    } */
    .line-img {
        position: static;
        rotate: 180;
    }
    /* projetcts */

    main>section:nth-child(4){
        height: 250vh;
    }
    .projects-2nd-row{
        display: none;
    }
}