/* @media all and (min-width: 1025px) and (max-width: 1440px) {
    main>section:first-child{
        top: 140px;
        height: 92vh;
    }
}
@media all and (min-width: 769px) and (max-width: 1024px){
    main>section:first-child{
        top: 140px;
        height: 92vh;
        background-color: black;
    }
} */
@media all and (min-width: 320px) and (max-width: 375px){
    #main-container{
        width: 100%;
        overflow-x: hidden;
        margin-left: 0 !important;
    }
    
    main{
        margin-left: 10px;
        margin-right: 10px;
    }
    body{
        overflow-x: hidden;
    }
    h1{
        font-size: 25px;
    }
    header>nav {
        display: none;
    }
    #logo {
        text-align: center;

    }
    main>section:first-child{
        top: 100px;
        height: 138vh;
        text-align: center;
        /*width: 99%;*/
    }
    main>section:first-child>img{
        display: none;
    }
    /* about me */

    main>section:nth-child(2){
        height: 296vh;
        position: relative;
        text-align: center;
    }

    main>section:nth-child(2)>div{
        width: 320px;
    }


    /* skills */
    main>section:nth-child(3){
        height: 266vh;
    }
    .programming-container,
    .tools {
        display: flex;
        overflow-x: auto; /* Allow horizontal scrolling */
        scroll-snap-type: x mandatory;
    }

    .programming-container > img,
    .tools > img {
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    .programming-container > img {
        margin-right: 10px; /* Add some spacing between images */
    }
    
    .design, .mobile, .web, .software{
        position: absolute;
        left: 100px;

    }
    .design{
        top: 170px;
    }
    .mobile{
        position: absolute;
        top: 510px;

    }
    .web{
        position: absolute;
        top: 850px;

    }
    .software{
        top: 1200px;

    }
    /* main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3){
        position: absolute;
    } */
    .line-img {
        position: static;
        rotate: 180;
    }
    /* projetcts */

    main>section:nth-child(4){
        height: 200vh;
    }
    .projects-2nd-row{
        display: none;
    }
    .project-img{
        width: 300px;
    }
    .assignment-asset{
        width: 300px;
        height: 300px;
    }
    /* Activities */

    main>section:nth-child(5) > div > img {
        width: 400px;
    }
    main>section:nth-child(5) > div > p {
        font-size: 25px;
    }

    /* Galllery */
    /* Survices */
    main>section:nth-child(7){
        height: 250vh;
    }

    /* Contact */
    main>section:nth-child(8){
        height: 85vh;
    }
    main>section:nth-child(8) > h1 {
        margin-bottom: 50px;
    }
    .contact{
        flex-wrap: wrap;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        width: 300px;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .contact-info{
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact{
        margin-top: 40px;
    }
}

@media all and (min-width: 375px) and (max-width: 426px){
    #main-container{
        width: 100%;
        overflow-x: hidden;
        margin-left: 0 !important;
    }
    
    main{
        margin-left: 10px;
        margin-right: 10px;
    }
    body{
        overflow-x: hidden;
    }
    h1{
        font-size: 25px;
    }
    header>nav {
        display: none;
    }
    #logo {
        text-align: center;

    }
    main>section:first-child{
        top: 100px;
        height: 138vh;
        text-align: center;
        /*width: 99%;*/
    }
    main>section:first-child>img{
        display: none;
    }
    /* about me */

    main>section:nth-child(2){
        height: 296vh;
        position: relative;
        text-align: center;
    }

    main>section:nth-child(2)>div{
        width: 320px;
    }


    /* skills */
    main>section:nth-child(3){
        height: 266vh;
    }
    .programming-container,
    .tools {
        display: flex;
        overflow-x: auto; /* Allow horizontal scrolling */
        scroll-snap-type: x mandatory;
    }

    .programming-container > img,
    .tools > img {
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    .programming-container > img {
        margin-right: 10px; /* Add some spacing between images */
    }
    
    .design, .mobile, .web, .software{
        position: absolute;
        left: 100px;

    }
    .design{
        top: 170px;
    }
    .mobile{
        position: absolute;
        top: 510px;

    }
    .web{
        position: absolute;
        top: 850px;

    }
    .software{
        top: 1200px;

    }
    /* main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3){
        position: absolute;
    } */
    .line-img {
        position: static;
        rotate: 180;
    }
    /* projetcts */

    main>section:nth-child(4){
        height: 200vh;
    }
    .projects-2nd-row{
        display: none;
    }
    .project-img{
        width: 300px;
    }
    .assignment-asset{
        width: 300px;
        height: 300px;
    }
    /* Activities */

    main>section:nth-child(5) > div > img {
        width: 400px;
    }
    main>section:nth-child(5) > div > p {
        font-size: 25px;
    }

    /* Galllery */
    /* Survices */
    main>section:nth-child(7){
        height: 250vh;
    }

    /* Contact */
    main>section:nth-child(8){
        height: 85vh;
    }
    main>section:nth-child(8) > h1 {
        margin-bottom: 50px;
    }
    .contact{
        flex-wrap: wrap;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        width: 300px;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .contact-info{
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact{
        margin-top: 40px;
    }
}