/* @media (max-width: 768px) {
    #main-container {
        margin-left: 20px;
        margin-right: 20px;
    }
 } */
 *{
    scroll-behavior: smooth;
 }
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(91deg, #D3E7E7 0.56%, #E2ECEC 98.69%);
}

#main-container{
    margin-left: 100px;
    margin-right: 100px;
}

header{
    position: fixed;
    height: 70PX;
    display: flex;
    align-items: center;
    background: linear-gradient(91deg, #D3E7E7 0.56%, #E2ECEC 98.69%);
    z-index: 1;
    top: 0;
    left: 100px;
    justify-content: space-between;
    right: 100px;
    border-radius: 0 0 25px 25px;
}

#logo{
    width: 195px;
    height: 60px;
    flex-shrink: 0;
    left: 0;
}

header>nav>ul>li{
    display: inline-block;
    padding: 12px;
}

header>nav>ul>li>a{
    text-decoration: none;
}

main>section:first-child{
    display: flex;
    position: relative;
    top: 140px;
    height: 94vh;
}
main>section:first-child>div>h1{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}

main>section:first-child>div{
    display: inline-block;
    margin-right: 60px;
}

main>section:first-child>div>p{
    text-align: justify;
    font-size: 23px;
    line-height: normal;
}

main>section:first-child>div>div{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

main>section:first-child>div>div>a{
    display: inline-block;
    margin: 10px;
    transition: transform 0.4s ease;
}
main>section:first-child>div>div>a:hover{
    transform: scale(1.20); 
}

main>section:first-child>img{
    height: 530px;
    border-radius: 35px;
    background:lightgray 50% / cover no-repeat;
    box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main>section:first-child>img:hover{
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
main>section:first-child>div>div{
    display: flex;
    margin-top: 0;
}
main>section:first-child>div>div>button{
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #2980b9;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 17px;
}

main>section:first-child>div>div>button:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

/* About me section */
main>section:nth-child(2){
    height: 92vh;
    position: relative;
    text-align: center;
}
main>section:nth-child(2)>h1{
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}

main>section:nth-child(2)>div{
    height: 550px;
    width: 385px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(210, 207, 207, 0.10) 0%, #D9D9D9 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main > section:nth-child(2) > div:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
main>section:nth-child(2)>div>h3{
    font-size: 30px;
}
main>section:nth-child(2)>div>p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    text-align: justify;
}

/* Skills Section */

main>section:nth-child(3){
    position: relative;
    height: 92vh;
}
main>section:nth-child(3)>h1{
    font-size: 35px;
    text-align: center;
}
main>section:nth-child(3)>div{
    display: block;
}
main>section:nth-child(3)>div:nth-child(2)>div{
    display: flex;
    justify-content: center;
}
main>section:nth-child(3)>div:nth-child(2)>div>div{
    display: inline;
    height: 300px;
    width: 250px;
    vertical-align: top;
    margin: 20px;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div>div:first-child{
    height: 55px;
    width: 55px;
    background-color: #EBCB79;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div>div:nth-child(3){
    height: 300px;
    width: 2px;
    background-color: black;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div>h3{
    padding: 10px;
    margin: 20px;
    width: 125px;
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: center;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div>h3,main>section:nth-child(3)>div:nth-child(2)>div>div>div>div{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div>h3:hover, main>section:nth-child(3)>div:nth-child(2)>div>div>div>div:hover{
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3)>ul{
    margin-left: 20px;
    list-style: none; 
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3)>ul>ul{
    margin-bottom: 10px;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3)>ul>li:first-child{
    margin-top: 0px;
}
main>section:nth-child(3)>div:nth-child(2)>div>div>div:nth-child(3)>ul>li {
    position: relative; /* Adjust the spacing between the marker and text */
    /* margin-bottom: 30px; Adjust the vertical spacing between list items */
    margin-top: 20px;
  
    &::before {
        content: "";
        width: 20px; 
        height: 20px;
        background-color: #EBCB79;
        border-radius: 50%;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.skill-img{
    width: 40px;
    height: 40px;
}
/* methana absolute balanna */
.line-img{
    position: absolute;
    height: 200px;
    width: 1px;
    top: 178px;
    margin-left: 32px;
}
main>section:nth-child(3)>div:nth-child(3)>div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
main>section:nth-child(3)>div:nth-child(3)>div>img{
    border-radius: 20px;
    background-color: #9B9B9B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
main>section:nth-child(3)>div:nth-child(3)>div>img:hover{
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
main>section:nth-child(3)>div:nth-child(3)>div:first-child{
    margin-top: 20px !important;
}
main>section:nth-child(3)>div:nth-child(3)>div>img{
    margin-left: 20px;
    margin-right: 20px;
}
/* main>section:nth-child(4){
    position: relative;
    height: 92vh;
} */

/* Skills section */
main>section:nth-child(4){
    position: relative;
    height: 170vh;
}
main>section:nth-child(4)>h1{
    font-size: 35px;
    text-align: center;
}
.sub-title{
    margin-left: 65px;
    margin-bottom: 75px;
    font-size: 23px;
}
main>section:nth-child(4)>section>div:nth-child(2){
    text-align: center;
}
.project-img{
    border-radius: 20px;
    background-color: #D9D9D9;
    margin: 10px 30px 35px 30px;
    transition: filter 0.3s;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project-img:hover{
    filter: brightness(0.7);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
.seemore{
    color: #2F37F0;
    text-decoration: none;
    text-align: center;
}

.assignment-asset{
    width: 700px;
    height: 350px;
    border-left:2px  solid black;
    border-right: 2px solid black;
    border-radius: 1%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
.assignment-asset-subdiv{
    display: flex;
    justify-content: center;
    height: 100%;
    width: calc(100% * 5);

    animation-name: slide_me;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.assignments{
    display: block;
    text-align: center;
    flex-grow: 1;
    height: 100%;
}
@keyframes slide_me {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(calc((-100%/5)*1));
    }
    50% {
        transform: translateX(calc((-100%/5)*2));
    }
    75% {
        transform: translateX(calc((-100%/5)*3));
    }
    100% {
        transform: translateX(calc((-100%/5)*4));
    }

}
.assignmnet-title{
    font-size: 30px;
}
.assignments-img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.assignments-img:hover{
    filter: brightness(0.7);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
.seemore-assignments{
    text-align: center;
}
/* Activities */

main>section:nth-child(5) {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>section:nth-child(5) > h1 {
    font-size: 35px;
    text-align: center;
}

main>section:nth-child(5) > div {
    position: relative;
}

main>section:nth-child(5) > div > img {
    width: 800;
}
main>section:nth-child(5) > div > p {
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.activities-img{
    width: 900px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: brightness(0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.activities-img:hover{
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); 
}

/* Gallery */

main>section:nth-child(6){
    position: relative;
    height: 92vh;
}

main>section:nth-child(6) > h1 {
    font-size: 35px;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 80vh;
    border-radius: 10px;
}
  
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 1%; 
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    border-radius: 10px;
}
  
.box > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 0.5s;
    border-radius: 10px;
}
  
.box > span {
    font-size: 2vh; 
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}
  
.box:hover { flex: 1 1 33.33%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}
/* Services */

main>section:nth-child(7){
    position: relative;
    height: 80vh;
}

main>section:nth-child(7) > h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom:80px;
}

main>section:nth-child(7) >div{
    display: flex;
    justify-content: center;
}

main>section:nth-child(7) >div> div {
    margin: 10px;
    background: linear-gradient(0deg, #85CACA 0%, #C6E1E1 100%);
    height: 320px;
    width: 280px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, color 0.3s;
}
main>section:nth-child(7) >div> div:hover{
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}
main>section:nth-child(7) >div> div>img{
    margin-top: 40px;
}
main>section:nth-child(7) >div> div:first-child>h3{
    margin-top: 30px;
}
main>section:nth-child(7) >div> div:first-child>button{
    margin-top: 15px;
}
main>section:nth-child(7) >div> div>button{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background: #418C8C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.9s, color 0.9s;
    color: white;
    cursor: pointer;
}

main>section:nth-child(7) >div> div>button:hover{
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}
/* Contact Us */
main>section:nth-child(8){
    position: relative;
    height: 92vh;
}
main>section:nth-child(8) > h1 {
    font-size: 35px;
    text-align: center;
}
.social-icons{
    text-align: center;
    transition: transform 0.4s ease;
}
.social-icons>a{
    margin-left: 30px;
    margin-right: 30px;
}
.social-icons>a>img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.social-icons>a>img:hover {
    transform: scale(1.20); 
}