/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Navigation Bar Styles */
  /* Navigation Bar Styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav menu {
    display: flex;
    align-items: center;
    /* Add this to align the items to the right */
    justify-content: flex-end;
  }
  
  nav li {
    list-style: none;
    margin-right: 20px;
  }
  
  /* Optional: To make the navigation links inline without bullet points */
  nav li {
    display: inline;
  }
  
  
  /* Home Section Styles */
  #home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  #home img {
    border-radius: 50%;
  }
  
  /* About Section Styles */
  #about {
    padding: 50px;
  }
  
  .info-box1, .info-box2 {
    margin-top: 30px;
  }
  
  /* Skills Section Styles */
  #skills {
    padding: 50px;
  }
  
  #skills h3 {
    margin-top: 0;
  }
  
  #stack {
    display: flex;
    flex-wrap: wrap;
  }
  
  #stack img {
    margin: 5px;
  }
  
  /* Projects Section Styles */
  #projects {
    padding: 50px;
  }
  
  #my-projects div, #assignments div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* Activities Section Styles */
  #activities {
    padding: 50px;
  }
  
  /* Gallery Section Styles */
  #gallery {
    padding: 50px;
  }
  
  #gallery div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* Services Section Styles */
  #services {
    padding: 50px;
  }
  
  #services div {
    margin: 20px;
  }
  
  /* Contact Section Styles */
  #contact {
    padding: 50px;
  }
  
  form {
    margin-top: 30px;
  }
  
  fieldset {
    border: none;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  button img {
    margin-left: 10px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  