body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(91deg, #D3E7E7 0.56%, #E2ECEC 98.69%);
    
}
#main-container{
    margin-left: 100px;
    margin-right: 100px;
}
header{
    position: fixed;
    height: 100PX;
    display: flex;
    align-items: center;
    background: linear-gradient(91deg, #D3E7E7 0.56%, #E2ECEC 98.69%);
    z-index: 1;
    left: 100px;
    justify-content: space-between;
    right: 100px;
}
#logo{
    width: 195px;
    height: 60px;
    flex-shrink: 0;
    left: 0;
}
header>nav>ul>li{
    display: inline-block;
    padding: 12px;
}
header>nav>ul>li>a{
    text-decoration: none;
}
main{
    position: relative;
    top: 120px;
}
main>section:first-child{
    display: flex;
    align-items: center;
    height: 80vh;
}
main>section:first-child>div{
    /* background-color: rebeccapurple; */
    display: inline-block;
}
main>section:first-child>div>a{
    display: inline-block;
    
}
main>section:first-child>img{
    height: 500px;
    border-radius: 35px;
    background:lightgray 50% / cover no-repeat;
    box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
/* *{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
} */