body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(91deg, #D3E7E7 0.56%, #E2ECEC 98.69%);
    
}

#main-container{
    margin-left: 100px;
    margin-right: 100px;
}

header{
    position: fixed;
    height: 70PX;
    display: flex;
    align-items: center;
    background: linear-gradient(91deg, #D3E7E7 0.56%, #E2ECEC 98.69%);
    z-index: 1;
    left: 100px;
    justify-content: space-between;
    right: 100px;
    border-radius: 0 0 25px 25px;
}

#logo{
    width: 195px;
    height: 60px;
    flex-shrink: 0;
    left: 0;
}

header>nav>ul>li{
    display: inline-block;
    padding: 12px;
}

header>nav>ul>li>a{
    text-decoration: none;
}

main{
    position: relative;
    top: 120px;
}

main>section:first-child{
    display: flex;
    position: relative;
    top: 25px;
    height: 92vh;
}
main>section:first-child>div>h1{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

main>section:first-child>div{
    display: inline-block;
    margin-right: 60px;
}

main>section:first-child>div>p{
    text-align: justify;
    font-size: 23px;
    line-height: normal;
}

main>section:first-child>div>div{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

main>section:first-child>div>div>a{
    display: inline-block;
    margin: 10px;
}

main>section:first-child>img{
    height: 530px;
    border-radius: 35px;
    background:lightgray 50% / cover no-repeat;
    box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main>section:first-child>img:hover{
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
main>section:first-child>div>div{
    display: flex;
    margin-top: 0;
}
main>section:first-child>div>div>button{
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #2980b9;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

main>section:first-child>div>div>button:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

main>section:nth-child(2){
    height: 92vh;
    position: relative;
    text-align: center;
}
main>section:nth-child(2)>h1{
    text-align: center;
}

main>section:nth-child(2)>div{
    height: 550px;
    width: 385px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(210, 207, 207, 0.10) 0%, #D9D9D9 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
main > section:nth-child(2) > div:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
main>section:nth-child(2)>div>h3{
    font-size: 30px;
}
main>section:nth-child(2)>div>p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19px;
    text-align: justify;
}